@import url('https://fonts.googleapis.com/css?family=Raleway');

body,
p {
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	margin: 0;
}

/* Estilos padrões */

.bg-padrao {
	background-image: url(../img/bg-produtos.jpg);
	background-size: cover;
	background-position: inherit;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 100px;
	padding-bottom: 100px;
}

.subtitulo {
	margin: 0;
	text-align: center;
	color: #555;
	font-size: 33px;
	font-weight: 300;
	line-height: 43px;
	text-transform: uppercase;
}

.text-item {
	font-size: 15px;
	color: #444;
	line-height: 24px;
	text-align: center;
	width: 80%;
	margin: 30px auto 60px auto;
}

/* header */
.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #111;
	height: 48px;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;
}

.header .logo,
.header .menu {
	font-size: 15px;
	color: #fff;
	line-height: 48px;
	font-weight: 600;
	text-decoration: none;
}

.header .menu {
	font-weight: 400;
	opacity: 0.5;
	transition: .2s ease-in-out;
}

.header .menu:hover {
	opacity: 1;
}

.header .nav {
	position: fixed;
	width: 300px;
	height: 100%;
	background: #111;
	right: -320px;
	padding: 50px 30px;
	transition: 0.5s ease-in-out;
}

.header .nav .links {
	padding: 0;
	list-style: none;
	font-size: 15px;
	line-height: 51px;
	margin: 0 0 15px 0;
}

.header .nav .links .list-header {
	border-top: solid 1px rgba(255, 255, 255, 0.25);
}

.header .nav .links .list-header:first-child {
	border-top: 0;
}

.header .nav .links .list-header .link-header {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	transition: 0.2s ease-in-out;
}

.header .nav .links .list-header .link-header:hover {
	color: #FFF;
}

.header .nav.active {
	right: 0;
}

.header .nav .close {
	position: absolute;
	right: 0;
	padding-right: 15px;
	top: 0;
}

.header .nav .close .fas {
	font-size: 20px;
	line-height: 48px;
	color: rgba(255, 255, 255, 0.25);
	transition: 0.2s ease-in-out;
}

.header .nav .close .fas:hover {
	color: #FFF;
}

/* Introdução */

.introducao {
	width: 100%;
	height: 90vh;
	background-image: linear-gradient(135deg, rgba(206, 27, 40, .6) 0%, rgba(17, 17, 17, .6) 74%), url(../img/bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	display: flex;
	align-items: center;
	padding-top: 60px;
}

.introducao .title-introducao {
	font-weight: 300;
	font-size: 59px;
	line-height: 70px;
	color: #FFF;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
}

.introducao .quote-externo {
	color: rgba(255, 255, 255, 0.5);
	font-size: 22px;
	line-height: 36px;
	font-weight: 400;
	margin: 0;
}

.introducao .quote-externo p a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	transition: .2s ease-in-out;
}

.introducao .quote-externo p a:hover {
	color: #fff;
}

.introducao .quote-externo p:first-child {
	margin-bottom: 2px;
}

/* Produtos */
.produtos .produto_icone {
	background: #fff;
	height: 400px;
	text-align: center;
	margin-bottom: 40px;
	border-radius: 4px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
}

.produtos .titulo-produto {
	font-size: 18px;
	color: #555;
	font-weight: 300;
	line-height: 28px;
	text-transform: uppercase;
}

.produtos .text-produto {
	font-size: 15px;
	color: #444;
	line-height: 24px;
	padding: 30px;
}

.produtos .far,
.produtos .fas {
	margin-top: 60px;
	font-size: 75px;
	color: #ce1b28;
}

/* Box de informações */

.box-info {
	width: 100%;
	height: 360px;
	background-image: url(../img/bg-text.jpg);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	display: flex;
	align-items: center;
}

.box-info .title-info {
	color: #FFF;
	font-size: 33px;
	line-height: 43px;
	font-weight: 300;
	text-transform: uppercase;
}

.box-info .text-info {
	font-size: 15px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.75);
}

/* Comentarios */

.box-comentario .info-comentario {
	background: #fff;
	height: auto;
	text-align: center;
	margin-bottom: 40px;
	padding: 40px 0;
	border-radius: 4px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
}

.box-comentario .text-comentario {
	font-size: 15px;
	color: #444;
	line-height: 24px;
	font-style: italic;
	padding: 10px 40px 10px 30px;
	border-left: solid 8px;
	border-left-color: rgba(0, 0, 0, 0.25);
	margin-left: 50px;
	text-align: left;
}

.box-comentario .img-perfil {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.box-comentario .autor {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-comentario .name-autor {
	font-size: 11px;
	line-height: 18px;
	color: #444;
	margin-left: 30px;
}

.box-comentario .name-autor .name {
	color: #ce1b28;
}

/* footer */

.footer {
	background: #111;
	width: 100%;
	padding: 100px 0 100px 0;
}

.footer .missao-footer {
	margin: 0;
	padding: 0;
	padding-right: 50px;
}

.footer .title-footer {
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
}

.footer .text-footer {
	font-size: 15px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 35px;
}

.footer .info-footer {
	font-size: 15px;
	line-height: 22px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
}

.footer .lista-footer {
	padding: 0;
	margin: 0;
}

.footer .item-footer {
	font-size: 15px;
	line-height: 24px;
	padding: 10px 0 10px 0;
	border-top: rgba(255, 255, 255, 0.25) solid 1px;
}

.footer .item-footer:nth-child(2) {
	border-top: 0;
	padding-top: 0;
}

.footer .item-footer:last-child {
	padding-bottom: 0;

}

.footer .item-footer a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	transition: .2s ease-in-out;
}

.footer .item-footer a:hover {
	color: #ce1b28;
}

.footer .redes-footer {
	padding: 0;
	margin: 0;
	padding-left: 50px;
}

.footer .icone-footer {
	margin-bottom: 10px;
	padding-left: 5px;
}

.footer .icone-footer a {
	font-size: 15px;
	line-height: 24px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	transition: .2s ease-in-out;
}

.footer .icone-footer a:hover {
	color: #ce1b28;
}

.footer .icone-footer .fab {
	color: #FFF;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	text-align: center;
	background: rgba(0, 0, 0, 0.5)
}

.footer .copyright {
	text-align: center;
	font-size: 12px;
	line-height: 19px;
	color: rgba(255, 255, 255, 0.5);
	padding: 20px 0 20px 0;
	border-top: solid 1px;
	opacity: 0.5;
}

.footer .copyright a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	transition: .2s ease-in-out;
}

.footer .copyright a:hover {
	color: #ce1b28;
}

/* Media Queries */
@media (max-width: 575px) {

	/* estilos padrões */
	.bg-padrao {
		padding: 30px 0px 15px 0px;
	}

	.subtitulo {
		font-size: 26px;
		line-height: 39px;
	}

	/* Introdução */
	.introducao {
		height: 55vh;
	}

	.box-introducao {
		padding: 0 40px;
	}

	.introducao .title-introducao {
		font-size: 26px;
		line-height: 33px;
		margin-bottom: 10px;
	}

	.introducao .quote-externo {
		font-size: 15px;
		line-height: 24px;
	}


	/* produtos */
	.bg-produtos {
		padding: 15px 0px 15px 0px;
	}

	.bg-produtos:first-child {
		padding-top: 0;
	}

	.produtos .far,
	.produtos .fas {
		margin-top: 0;
	}

	.produtos .produto_icone {
		height: auto;
		margin-bottom: 0;
		padding: 35px;
	}

	.produtos .text-produto {
		padding: 0;
	}

	/* box de informações */
	.box-info {
		height: auto;
	}

	.box-info .title-info {
		font-size: 26px;
		line-height: 39px;
	}

	.box-info .text-info {
		margin: 0px 0px 30px 0px;
	}

	/* Comentarios */
	.bg-comentarios {
		padding: 15px 0px 15px 0px;
	}

	.box-comentario .info-comentario {
		margin-bottom: 0;
		padding: 30px;
	}

	.box-comentario .text-comentario {
		padding: 10px 0px 10px 20px;
		margin: 0px 0px 20px 5px;
	}

	.box-comentario .autor {
		margin-top: 0;
	}

	.box-comentario .name-autor {
		margin-left: 20px;
		text-align: left;
	}

	/* Footer */
	.bg-footer {
		padding: 0;
		margin: 0 20px;
	}

	.footer {
		padding: 35px 0 35px 0;
	}

	.footer .missao-footer {
		padding-right: 0;
	}

	.footer .redes-footer {
		margin: 20px 0 20px 0;
		padding-left: 0;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

	/* estilos padrões */
	.bg-padrao {
		padding: 60px 0px 45px 0px;
	}

	.subtitulo {
		font-size: 28px;
		line-height: 42px;
	}

	/* Introdução */
	.introducao {
		height: 55vh;
	}

	/* Introdução */
	.introducao {
		height: 55vh;
	}

	.box-introducao {
		padding: 0 60px 0 60px;
	}

	.introducao .title-introducao {
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 10px;
	}

	.introducao .quote-externo {
		font-size: 20px;
		line-height: 33px;
	}

	/* produtos */
	.bg-produtos {
		padding: 15px 0px 15px 0px;
	}

	.bg-produtos:first-child {
		padding-top: 0;
	}

	.produtos .titulo-produto {
		font-size: 20px;
		line-height: 30px;
	}

	.produtos .text-produto {
		font-size: 16px;
		line-height: 26px;
	}

	.produtos .far,
	.produtos .fas {
		margin-top: 30px;
	}

	.produtos .produto_icone {
		height: auto;
		margin-bottom: 0;
		padding: 35px;
	}

	.produtos .text-produto {
		padding: 0;
		margin-bottom: 30px;
	}

	/* Box de informações */
	.box-info {
		height: auto;
		padding: 60px 0 20px 0;
	}

	.box-info .title-info {
		font-size: 28px;
		line-height: 42px;
		margin: 0;
		margin-bottom: 20px;
	}

	.box-info .text-info {
		font-size: 16px;
		line-height: 26px;
	}

	.box-info .text-info {
		margin: 0px 0px 30px 0px;
	}

	/* Comentarios */
	.bg-comentarios {
		padding: 15px 0px 15px 0px;
	}

	.box-comentario .info-comentario {
		margin-bottom: 0;
		padding: 40px;
	}

	.box-comentario .text-comentario {
		padding: 10px 0px 10px 20px;
		margin: 0px 0px 30px 0;
	}

	.box-comentario .autor {
		margin-top: 0;
	}

	.box-comentario .img-perfil {
		width: 80px;
		height: 80px;
	}

	.box-comentario .name-autor {
		font-size: 12px;
		line-height: 20px;
		margin-left: 40px;
	}

	.box-comentario .autor {
		justify-content: left;
	}

	/* Footer */
	.footer {
		padding: 60px 0 60px 0;
	}

	.footer .missao-footer {
		padding-right: 0;
	}

	.footer .title-footer {
		font-size: 20px;
		line-height: 30px;
	}

	.footer .text-footer {
		font-size: 16px;
		line-height: 26px;
	}

	.footer .info-footer {
		font-size: 16px;
		line-height: 24px;
	}

	.footer .item-footer {
		font-size: 16px;
		line-height: 26px;
	}

	.footer .redes-footer {
		margin: 20px 0 20px 0;
		padding-left: 0;
	}

	.footer .icone-footer a {
		font-size: 16px;
		line-height: 26px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/* estilos padrões */
	.subtitulo {
		font-size: 36px;
		line-height: 47px;
	}

	/* Introdução */
	.introducao {
		height: 95vh;
	}

	.box-introducao {
		padding: 0;
	}

	.introducao .title-introducao {
		font-size: 64px;
		line-height: 77px;
		margin-bottom: 20px;
	}

	.introducao .quote-externo {
		font-size: 24px;
		line-height: 40px;
	}

	/* produtos */

	.bg-produtos {
		padding: 10px 10px 10px 10px;
	}

	.bg-produtos:first-child {
		padding-top: 10px;
	}

	/* Box de informações */
	.box-info {
		padding: 60px 30px 20px 30px;
	}

	.box-info .title-info {
		font-size: 36px;
		line-height: 47px;
	}

	/* Comentarios */
	.bg-comentarios {
		padding: 10px 10px 10px 10px;
	}

	.box-comentario .text-comentario {
		font-size: 16px;
		line-height: 26px;
	}

	.box-comentario .img-perfil {
		width: 50px;
		height: 50px;
	}

	/* Footer */
	.footer .redes-footer {
		margin: 0;
		padding-left: 100px;
	}

	.footer .lista-footer {
		margin-bottom: 30px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/* estilos padrões */
	.bg-padrao {
		padding: 100px 0px 85px 0px;
	}

	.subtitulo {
		font-size: 33px;
		line-height: 43px;
	}

	/* Introdução */
	.introducao {
		height: 90vh;
	}

	.introducao .title-introducao {
		font-size: 59px;
		line-height: 70px;
	}

	.introducao .quote-externo {
		font-size: 22px;
		line-height: 36px;
	}

	/* Produtos */
	.produtos .produto_icone {
		height: 400px;
	}

	.produtos .titulo-produto {
		font-size: 18px;
		line-height: 28px;
	}

	.produtos .text-produto {
		font-size: 15px;
		line-height: 24px;
	}

	/* Box de informações */
	.box-info .title-info {
		font-size: 33px;
		line-height: 43px;
	}

	.box-info .text-info {
		font-size: 15px;
		line-height: 24px;
	}

	/* Comentarios */
	.box-comentario .text-comentario {
		font-size: 15px;
		line-height: 24px;
	}

	.box-comentario .name-autor {
		font-size: 11px;
		line-height: 18px;
		margin-left: 10px;
	}

	/* Footer */
	.footer {
		padding: 100px 0 100px 0;
	}

	.footer .title-footer {
		font-size: 18px;
		line-height: 28px;
	}

	.footer .text-footer {
		font-size: 15px;
		line-height: 24px;
	}

	.footer .missao-footer {
		padding-right: 30px;
	}

	.footer .redes-footer {
		padding-left: 50px;
	}

	.footer .item-footer {
		font-size: 15px;
		line-height: 24px;
	}

	.footer .icone-footer a {
		font-size: 15px;
		line-height: 24px;
	}
}